
@{
    ViewBag.Title = "ReabastecerInventario";
}

<script>
    function RedireccionarMenu() {
        document.location.href = "/Medicamentos/Menu";
    }
</script>

<h2>Se ha añadido los farmacos al inventario</h2>

<input type="button" value="menu" onclick="RedireccionarMenu()" />