
@{
    ViewBag.Title = "VentanaDeFalla";
}
<script>
    function RedireccionarMenu() {
        document.location.href = "/Medicamentos/Menu";
    }
</script>

<h2>Lo sentimos, el producto deseado no existe</h2>
<input type="button" value="menu" onclick="RedireccionarMenu()" />

